.about-advantage__list {
  position: relative;
  display: flex;
  flex-direction: column;
  .list-none();
  margin: 0 auto;
  padding: 24px 30px 19px 19px;
  background-color: #ffffff;
  color: #000000;
  z-index: 0;
}

.about-advantage__item {
  position: relative;
  padding: 11px 0 11px 51px;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;

  &--house {
    background-image: url("../img/icon-house.svg");
    background-size: 37px;
    background-position: 3px 2px;
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px;
    background-position: 5px -1px;
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-size: 38px;
    background-position: 0 6px;
  }
}

.about-advantage__item-header {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
}

.about-advantage__item-text {
  margin: 0;
  padding-bottom: 8px;
  line-height: 20px;
}

@media @tablet-width {
  .about-advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-advantage__item {
    width: 33.3%;
    padding: 159px 47px 54px;
    text-align: center;

    &:nth-child(2) {
      order: 1;
    }

    &--house {
      background-image: url("../img/icon-house.svg");
      background-size: 75px;
      background-position: center 59px;
    }

    &--gift {
      background-image: url("../img/icon-gift.svg");
      background-size: 64px;
      background-position: center 56px;
    }

    &--food {
      background-image: url("../img/icon-burger.svg");
      background-size: 77px;
      background-position: center 62px;
    }
  }

  .about-advantage__item-header {
    padding-bottom: 21px;
    font-size: 21px;
  }

  .about-advantage__item-text {
    line-height: 21px;
  }

  .advantages__border-bottom::after {
    display: none;
  }
}

@media @desktop-width {
  .about-advantage__item {
    padding: 160px 70px 73px;

    &--food {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .about-advantage__item-header {
    padding-bottom: 21px;
  }
}
