.advantages__list {
  display: block;
  .list-none();
  padding-top: 42px;
}

.advantages__item {
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__border-bottom {
  position: relative;
}

.advantages__border-bottom::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: #333333;
  z-index: 1;
}

.advantages__item-wrapper {
  padding: 39px 33px 40px;

  &--grey {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #eeeeee;
    color: #000000;
  }
}

.advantages__item-header {
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.advantages__item-number {
  display: block;
  padding-bottom: 13px;
  font-weight: 400;
}

.advantages__item-text {
  margin: 0;
  line-height: 21px;
  font-weight: 400;
}

.advantages__image {
  display: block;
  width: 100%;
  max-height: 260px;
}

.about-advantage__list {
  position: relative;
  display: flex;
  flex-direction: column;
  .list-none();
  margin: 0 auto;
  padding: 25px 30px 20px 70px;
  background-color: #ffffff;
  color: #000000;
  z-index: 0;
}

.about-advantage__item {
  position: relative;
  padding: 10px 0;
  text-align: left;
}

.about-advantage__icon {
  position: absolute;
  content: "";
  top: 0;
  left: -49px;
  width: 39px;
  height: 37px;
  fill: #81b3d2;

  &--food {
    top: 5px;
    left: -51px;
  }
}

.about-advantage__item-header {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
}

.about-advantage__item-text {
  margin: 0;
  padding-bottom: 10px;
  line-height: 20px;
}

@media @tablet-width {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--wide {
      width: 33.3%;
    }
  }

  .advantages__item-wrapper {
    display: block;
    padding: 45px 45px 0;
    width: 33.3%;

    &--grey {
      width: 100%;
      padding-bottom: 44px;
    }
  }

  .advantages__item-header {
    padding: 0 8px 7px;
    font-size: 21px;
  }

  .advantages__item-number {
    padding-bottom: 20px;
  }

  .advantages__image-wrapper {
    display: block;
    width: 66.7%;
    padding: 0;
    margin: 0;

    &--left {
      order: -1;
    }
  }

  .advantages__image {
    padding: 0;
    width: 100%;
    max-height: 256px;
  }

  .about-advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-advantage__item {
    width: 33.3%;
    padding: 157px 45px 50px;
    text-align: center;

    &:nth-child(2) {
      order: 1;
    }
  }

  .about-advantage__icon {
    top: 60px;
    left: 50%;
    margin-left: -37px;
    width: 75px;
    height: 72px;
  }

  .about-advantage__item-header {
    padding-bottom: 23px;
    font-size: 21px;
  }

  .about-advantage__item-text {
    line-height: 21px;
  }

  .advantages__border-bottom::after {
    display: none;
  }
}

@media @desktop-width {
  .advantages__item-wrapper {
    padding: 50px 60px 50px;
    width: 33.3%;

    &--grey {
      width: 100%;
      padding-top: 45px;
      padding-bottom: 64px;
    }
  }

  .advantages__item-header {
    padding: 0 60px 7px;
  }

  .about-advantage__item {
    padding: 160px 67px 72px;
  }

  .about-advantage__item-header {
    padding-bottom: 21px;
  }
}
