.advantages__list {
  display: block;
  .list-none();
  padding-top: 42px;
}

.advantages__item {
  text-align: center;
  background-color: @bg-blue;
  color: #ffffff;

  &--grey {
    padding-bottom: 20px;
    background-color: #eeeeee;
    color: #000000;
  }
}

.advantages__border-bottom {
  position: relative;
}

.advantages__border-bottom::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: #333333;
  z-index: 1;
}

.advantages__image-left,
.advantages__image-right {
  display: block;
  padding-top: 30px;
  width: 100%;
   // vremenno
  height: 260px;
}

.advantages__item-header {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;

  &--grey {
    padding-top: 27px;
  }
}

.advantages__item-number {
  display: block;
  padding-bottom: 12px;
  font-weight: 400;
}

.advantages__item-text {
  margin: 0;
  padding: 0 30px 10px 30px;
  line-height: 21px;
  font-weight: 400;
}

.about-advantage__list {
  position: relative;
  display: flex;
  flex-direction: column;
  .list-none();
  margin: 0 auto;
  padding: 25px 30px 20px 70px;
  background-color: #ffffff;
  color: #000000;
  z-index: 0;
}

.about-advantage__item {
  position: relative;
  padding: 10px 0;
  min-height: 110px;
  text-align: left;
}

.about-advantage__icon-house,
.about-advantage__icon-gift {
  position: absolute;
  content: "";
  top: 0;
  left: -49px;
  width: 39px;
  height: 37px;
}

.about-advantage__icon-food {
  position: absolute;
  content: "";
  top: 5px;
  left: -51px;
  width: 39px;
  height: 37px;
}

.about-advantage__item-header {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
}

.about-advantage__item-text {
  margin: 0;
  padding-bottom: 10px;
  line-height: 20px;
}

@media @tablet-width {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &--grey {
      width: 33.3%;
      padding: 0;
    }
  }

  .advantages__item-wrapper {
    width: 33.3%;

    &--wide {
      width: 100%;
    }
  }

  .advantages__item-header {
    padding: 45px 53px 7px;
    font-size: 21px;
  }

  .advantages__item-number {
    padding-bottom: 20px;
  }

  .advantages__item-text {
    padding: 0 47px 40px;
  }

  .advantages__image-left {
    padding: 0;
    width: 66.7%;
    order: -1;
    //vremenno
    object-fit: cover;
    height: 256px;
    ///
  }

  .advantages__image-right {
    padding: 0;
    width: 66.7%;
    //vremmenno
    object-fit: cover;
    height: 256px;
    ///
  }

  .about-advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-advantage__item {
    width: 33.3%;
    padding-top: 157px;
    padding-bottom: 60px;
    text-align: center;

    &:nth-child(2) {
      order: 1;
    }
  }

  .about-advantage__icon-house,
  .about-advantage__icon-food,
  .about-advantage__icon-gift {
    top: 60px;
    left: 50%;
    margin-left: -37px;
    width: 75px;
    height: 72px;
  }

  .about-advantage__item-header {
    padding-bottom: 23px;
    font-size: 21px;
  }

  .about-advantage__item-text {
    padding: 0 45px;
    line-height: 21px;
  }

  .advantages__border-bottom::after {
    display: none;
  }
}

@media @desktop-width {
  .about-advantage__item {
    padding-bottom: 80px;
  }

  .about-advantage__item-text {
    padding: 0 70px;
  }

  //// vremenno
  .advantages__image-left,
  .advantages__image-right {
    display: none;
  }

  .advantages__item {
    padding-top: 50px;

    &--grey {
      padding-top: 46px;
      padding-bottom: 7px;
    }

    &:nth-child(2) {
      // vremmenno
      width: 100%;
      height: 256px;
    }
  }

  .advantages__item-header {
    padding: 0 120px 7px;
    font-size: 21px;
  }

  .advantages__item-text {
    padding: 0 65px 59px;
  }
}
