.page-video {
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 125px;
}

.page-video__title {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.page-video__text {
  display: block;
  margin: 0;
  padding: 8px 30px 20px;
  text-align: center;
  line-height: 24px;
}

.page-video__control-wrapper {
  position: relative;
}

.page-video__video-file {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.page-video__slider {
  position: absolute;
  z-index: 1;
  width: 280px;
  height: 45px;
  background-color: black;
  left: 20px;
  right: 20px;
  bottom: -15px;
  opacity: 0.4;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 66px;
    background-color: #f2f2f2;
    bottom: -65px;
  }
}

.page-video__replay {
  position: absolute;
  z-index: 2;
  left: 45px;
  bottom: -57px;
}

.page-video__subtitles {
  position: absolute;
  z-index: 2;
  right: 94px;
  bottom: -57px;
}

.page-video__fullscreen {
  position: absolute;
  z-index: 2;
  right: 43px;
  bottom: -57px;
}

@media @tablet-width {
  .page-video {
    padding: 7px 60px 48px;
  }

  .page-video__title {
    font-size: 30px;
  }

  .page-video__text {
    padding: 10px 110px 10px;
  }

  .page-video__control-wrapper {
    padding-top: 60px;
  }

  .page-video__video-file {
    width: 100%;
    min-height: 504px;
  }

  .page-video__slider {
    position: absolute;
    padding: 0 60px;
    width: 100%;
    height: 95px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;

    &::before {
      display: none;
    }
  }

  .page-video__replay {
    left: 35px;
    bottom: 40px;
  }

  .page-video__subtitles {
    right: 92px;
    bottom: 40px;
  }

  .page-video__fullscreen {
    right: 43px;
    bottom: 40px;
  }
}

@media @desktop-width {
  .page-video {
    padding: 7px 200px 85px;
  }

  .page-video__text {
    padding: 10px 179px 10px;
  }
}
