.page-form {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.form {
  display: block;
  border-top: 1px solid #333333;
}

.form__name-list,
.form__contacts-list,
.form__feeling-list,
.form__sight-list {
  .list-none();
}

.form legend {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.form input,
.form textarea {
  font-size: 18px;
}

.form__name {
  margin: 0 auto;
  padding: 0 20px 12px;
  border-bottom: 1px solid #333333;
}

.form__name-title {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 18px;
}

.form__name-item {
  display: flex;
  padding-bottom: 10px;
}

.form__name-label {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 26px;
}

.form__name-input {
  width: 100%;
  margin-left: 13px;
  padding: 23px;
  background-color: #f2f2f2;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    padding: 19px;
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.form__name-input::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.form__contacts {
  padding: 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}

.form__contacts-title {
  text-align: center;
  padding-top: 18px;
}

.form__contacts-list {
  padding-top: 15px;
}

.form__contacts-item {
  padding-bottom: 10px;
}

.form__contacts-item--phone {
  position: relative;

  &::after {
    content: url("../img/icon-phone.svg");
    position: absolute;
    display: flex;
    padding: 16px 20px 11px;
    right: 0;
    top: 40px;
    background-color: #e6e6e6;
  }
}

.form__contacts-item--mail {
  position: relative;

  &::after {
    content: url("../img/icon-mail.svg");
    position: absolute;
    display: flex;
    padding: 16px 22px 11px;
    right: 0;
    top: 40px;
    background-color: #e6e6e6;
  }
}

.form__contacts-label {
  display: block;
  padding-left: 22px;
}

.form__contacts-input {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 20px ;
  background-color: #f2f2f2;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    padding: 16px;
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.form__contacts-input::placeholder {
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.form__feeling {
  padding-top: 34px;
  margin: 0 auto;
  border-bottom: 1px solid #333333;
}

.form__feeling-title {
  display: inline-block;
  text-align: center;
  padding-top: 16px;
}

.form__feeling-list {
  padding-bottom: 35px;
}

.form__feeling-item {
  position: relative;
  padding-bottom: 42px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__feeling-input {
  display: none;
}

.form__feeling-name {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-left: 87px;
  font-size: 18px;
  text-transform: none;
  font-weight: 700;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    top: -14px;
    left: 8px;
    border: 28px solid #f2f2f2;
    border-radius: 50%;
  }
}

.form__feeling-input:checked + .form__feeling-name::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 25px;
  border: 12px solid #333333;
  border-radius: 50%;
}

.form__feeling-input:checked + .form__feeling-name:active::after {
  opacity: 0.3;
}

.form__feeling-name:hover::before {
  border-color: #e5e5e5;
}

.form__feeling-name:active::before {
  border-color: #d5d5d5;
}

.form__sight {
  margin: 0 auto;
  border-bottom: 1px solid #333333;
}

.form__sight-title {
  text-align: center;
  padding-top: 18px;
}

.form__sight-list {
  padding: 25px 0 32px 9px;
}

.form__sight-item {
  position: relative;
  padding-bottom: 54px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__sight-input {
  display: none;
}

.form__sight-name {
  display: block;
  position: relative;
  padding-left: 80px;
  font-size: 18px;
  text-transform: none;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    top: -14px;
    left: -1px;
    border: 28px solid #f2f2f2;
    border-radius: 5px;
  }
}

.form__sight-input:checked + .form__sight-name::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 19px;
  top: 7px;
  left: 17px;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
}

.form__sight-input:checked + .form__sight-name:active::after {
  opacity: 0.3;
}

.form__sight-name:hover::before {
  border-color: #e5e5e5;
}

.form__sight-name:active::before {
  border-color: #d5d5d5;
}

.form__text {
  margin: 0 auto;
  padding: 0 20px 50px;
}

.form__text-title {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.form__text-textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 160px;
  resize: none;
  background-color: #f2f2f2;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.form__text-textarea::placeholder {
  padding-left: 18px;
  padding-top: 14px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.form-button {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 48px;
}

@media @tablet-width {
  .page-form {
    padding: 53px 40px 0;

    &::after {
      position: absolute;
      content: "* -  Обязательные поля";
      bottom: 83px;
      right: 70px;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .form legend {
    font-size: 21px;
  }

  .form__feeling {
    width: 50%;
    padding: 20px 10px 67px;
    order: -1;
    border: none;
    border-right: 1px solid #000000;
  }

  .form__feeling-title {
    text-align: left;
    padding-left: 10px;
    padding-top: 18px;
  }

  .form__feeling-list {
    padding: 0;
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .form__feeling-item {
    padding-bottom: 50px;
  }

  .form__name {
    width: 50%;
    padding: 20px 10px 38px 50px;
    border: none;
  }

  .form__name-title {
    text-align: left;
    padding: 0;
    padding-top: 18px;
    padding-left: 7px;
  }

  .form__name-list {
    padding-top: 35px;
  }

  .form__name-item {
    padding-left: 8px;
  }

  .form__name-input::placeholder {
    font-size: 15px;
  }

  .form__contacts {
    width: 100%;
    padding-bottom: 35px;
    border: none;
    border-top: 1px solid #000000;
  }

  .form__contacts-title {
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__contacts-list {
    padding-top: 22px;
  }

  .form__contacts-item {
    padding-bottom: 18px;
  }

  .form__contacts-input::placeholder {
    font-size: 16px;
  }

  .form__sight {
    width: 100%;
    padding: 0 40px;
    border: none;
    border-top: 1px solid #000000;
  }

  .form__sight-title {
    text-align: center;
    padding: 0 40px 0;
  }

  .form__sight-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 32px;
  }

  .form__sight-item {
    width: 50%;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 40px;

    &:nth-child(odd) {
      padding-left: 74px;
    }

    &:nth-child(even) {
      padding-left: 30px;
    }
  }

  .form__text {
    width: 100%;
    padding: 0 20px 60px;
    border-top: 1px solid #000000;
  }

  .form__text-title {
    text-align: center;
    padding: 45px 40px 55px;
  }

  .form__text-textarea::placeholder {
    padding-top: 16px;
    font-size: 16px;
  }

  .form-button {
    margin-left: 20px;
    padding-left: 62px;
    padding-right: 62px;
    margin-bottom: 70px;
    text-transform: uppercase;
  }
}

@media @desktop-width {
  .page-form {
    padding: 50px 120px 0;

    &::after {
      bottom: 83px;
      right: 130px;
    }
  }

  .form__feeling {
    width: 50%;
    padding: 20px 20px 67px 0;
    order: -1;
    border: none;
    border-right: 1px solid #000000;
  }

  .form__feeling-title {
    padding: 0;
    padding-top: 3px;
    padding-left: 80px;
  }

  .form__feeling-list {
    padding: 0;
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .form__feeling-item {
    padding-bottom: 50px;
  }

  .form__feeling-name {
    padding-left: 78px;

    &::before {
      left: 5px;
    }
  }

  .form__feeling-input:checked + .form__feeling-name::after {
    top: 3px;
    left: 20px;
  }

  .form__name {
    padding: 0;
    padding-left: 72px;
  }

  .form__name-title {
    padding-top: 5px;
    padding-left: 6px;
  }

  .form__name-list {
    padding-top: 53px;
  }

  .form__contacts {
    padding: 0;
    padding-bottom: 10px;
  }

  .form__contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .form__contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 40px;
  }


  .form__contacts-item--phone::after {
    right: 80px;
    top: 77px;
  }

  .form__contacts-item--mail::after {
    right: 0;
    top: 77px;
  }

  .contact-word {
    display: none;
  }

  .form__contacts-label {
    padding: 0;
    padding-right: 15px;
  }

  .form__contacts-input {
    width: 315px;
  }

  .form__contacts-input::placeholder {
    font-size: 16px;
  }

  .form__sight {
    padding: 0;
    padding-bottom: 14px;
  }

  .form__sight-list {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    width: auto;
    padding-top: 35px;
  }

  .form__sight-item {
    width: 25%;
    &:nth-child(odd),
    &:nth-child(even) {
      padding: 0;
    }
  }

  .form__sight-name {
    display: inline-block;
    width: 100%;
    padding: 0;
    padding: 23px 0;
    padding-left: 80px;

    &::before {
      top: 8px;
      left: 0px;
    }
  }

  .form__sight-input:checked + .form__sight-name::after {
    left: 16px;
    top: 28px;
  }

  .form__text {
    padding: 0 0 60px;
  }

  .form-button {
    margin-left: 0;
    padding-left: 140px;
    padding-right: 140px;
  }
}
