.page-video {
  padding-top: 11px;
}

.page-video__title {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.page-video__text {
  display: block;
  text-align: center;
  margin: 0;
  padding: 8px 30px 20px;
  text-align: center;
  line-height: 24px;
}

.page-video__control-wrapper {
  position: relative;
  
}

.page-video__video-file {
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  // &::after {
  //   position: absolute;
  //   content: " ";
  //   width: 280px;
  //   height: 66px;
  // }
}
