.page-booking {
  padding-top: 5px;
}

.page-booking__title {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 21px;
}

.page-booking__text {
  display: block;
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
  line-height: 23px;
}

.page-booking__button {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-booking__map {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}
