.page-video {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 113px;
}

.page-video__title {
  display: block;
  padding-bottom: 27px;
  text-align: center;
  font-size: 18px;
}

.page-video__text {
  display: block;
  margin: 0;
  padding: 0 30px 34px;
  text-align: center;
  line-height: 24px;
}

.page-video__video-file {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 201px;
}

.page-video__control-wrapper {
  position: relative;
}

.page-video__slider {
  position: absolute;
  z-index: 1;
  width: 88%;
  height: 45px;
  background-color: #000000;
  left: 6%;
  bottom: 0;
  opacity: 0.7;

  &::before {
    position: absolute;
    content: "";
    width: 84%;
    left: 8%;
    top: 22px;
    border: 1px solid #ffffff;
    cursor: pointer;
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 66px;
    bottom: -66px;
    left: 0;
    background-color: #f2f2f2;
  }
}

.page-video__slider-toogle {
  position: absolute;
  padding: 0;
  width: 5px;
  height: 5px;
  top: 18px;
  left: 21%;
  font-size: 0;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.page-video__replay-button {
  position: absolute;
  padding: 0;
  z-index: 2;
  left: 45px;
  bottom: -44px;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-video__subtitles-button {
  position: absolute;
  padding: 0;
  z-index: 2;
  right: 94px;
  bottom: -44px;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-video__fullscreen-button {
  position: absolute;
  padding: 0;
  z-index: 2;
  right: 43px;
  bottom: -44px;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-width {
  .page-video {
    padding: 61px 60px 50px;
  }

  .page-video__title {
    font-size: 30px;
    padding-bottom: 31px;
  }

  .page-video__text {
    padding: 0 110px 73px;
  }

  .page-video__video-file {
    width: 100%;
    min-height: 500px;
  }

  .page-video__slider {
    width: 100%;
    height: 93px;
    bottom: 0;
    left: 0;

    &::after {
      display: none;
    }

    &::before {
      width: 60%;
      left: 14%;
      top: 45px;
    }
  }

  .page-video__slider-toogle {
    top: 41px;
    left: 31.6%;
  }

  .page-video__replay-button {
    left: 35px;
    bottom: 37px;
    fill: #ffffff;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-video__subtitles-button {
    right: 92px;
    bottom: 37px;
    fill: #ffffff;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-video__fullscreen-button {
    right: 41px;
    bottom: 37px;
    fill: #ffffff;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media @desktop-width {
  .page-video {
    padding: 0 200px 94px;
  }

  .page-video__title {
    padding-bottom: 31px;
  }

  .page-video__text {
    padding: 0 179px 70px;
  }

  .page-video__video-file {
    width: 800px;
    min-height: 500px;
  }

  .page-video__slider::before {
    width: 67.5%;
    left: 11.5%;
  }

  .page-video__slider-toogle {
    top: 41px;
    left: 25.6%;
  }

  .page-video__replay-button {
    bottom: 35px;
  }

  .page-video__subtitles-button {
    right: 94px;
    bottom: 35px;
  }

  .page-video__fullscreen-button {
    right: 43px;
    bottom: 35px;
  }
}
