.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: -27px;
  background-color: white;
  z-index: 1;
}

.page-header__logo {
  order: 2;
  z-index: 2;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 102px;
  height: auto;
}

@media (min-width:@tablet-width) {
  .page-header {
    display: block;
    position: relative;
    width: 100%;
    height: 56px;
    margin: 0;
    padding: 0;
    // .outline(red);
    // margin-top: -20px;
  }

// .page-header__logo {
//     // display: block;
//   }

  .page-header__logo-image {
    display: block;
    padding: 0;
    max-width: 102px;
    height: auto;
  }
}
