.page-footer {
  text-transform: uppercase;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0;
}

.contacts {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.contacts__hashtag {
  display: block;
  margin: 0;
}

.social {
  padding: 36px 0 35px;
}

.social__list {
  display: flex;
  .list-none();
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-size: 18px;
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-size: 9px;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-size: 20px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    opacity: 0.8;
  }
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  display: block;
  padding-left: 8px;
  font-weight: 400;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background-color: #ffffff;
  padding: 0;
  padding-left: 5px;

  &:hover {
    background-color: #ffffff;
  }
}

.copyright__icon-htmlacademy {
  vertical-align: middle;
  width: 45px;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media @tablet-width {
  .page-footer__wrapper {
    flex-direction: row;
    padding-top: 26px;
    text-align: center;
  }

  .contacts {
    width: 33.3%;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 33.3%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    width: 33.3%;
    padding: 0;
    padding-left: 10px;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    padding-top: 29px;
  }

  .social {
    margin: 0 35px;
  }
}
