.page-photo {
  padding: 26px 20px 0;
}

.page-photo__list {
  display: flex;
  flex-direction: column;
  .list-none();
}

.page-photo__item {
  border-top: 1px solid #333333;
  background-color: #f2f2f2;

  &:last-child {
    border-bottom: 1px solid #333333;
  }
}

.page-photo__item-wrapper {
  position: relative;
  padding: 22px 0 14px;
}

.page-photo__image-link {
  cursor: pointer;
}

.page-photo__image {
  width: 100%;
  min-height: 280px;
  padding-bottom: 7px;
}

.page-photo__title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.page-photo__author-photo {
  display: block;
  padding: 0 0 7px;
  margin: 0;
  line-height: 24px;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
}

.page-photo__like-button {
  display: block;
  position: relative;
  margin: 0;
  padding: 14px;
  width: 70px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.page-photo__icon-like {
  position: absolute;
  bottom: 8px;
  left: 0;
  opacity: 0.3;
}

.page-photo__icon-numbers {
  position: absolute;
  bottom: 3px;
  left: 37px;
  font-size: 14px;
}


@media @tablet-width {
  .page-photo {
    padding: 65px 60px 5px;
  }

  .page-photo__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-photo__item {
    padding: 0;
    border: none;
    width: 50%;

    &--wide {
      width: 100%;
    }

    &:last-child {
      border: none;
      margin: 0;
    }
  }

  .page-photo__item-wrapper {
    padding: 0;
    background-color: #f2f2f2;
  }

  .page-photo__image {
    width: 100%;
    padding: 0;
    min-height: 265px;


    &--wide {
      width: 100%;
      max-height: 403px;
    }
  }

  .page-photo__wrapper-footer {
    display: block;
    position: relative;
    padding: 6px 20px 11px;
  }

  .page-photo__title {
    padding-right: 90px;
  }

  .page-photo__author-photo {
    padding-right: 90px;
  }

  .page-photo__like-button {
    position: absolute;
    top: 18px;
    right: 19px;
  }

  .page-photo__icon-like {
    top: 1px;
    left: 5px;
    opacity: 0.3;
  }
}

@media @desktop-width {
  .page-photo {
    padding: 60px 0 70px;
  }

  .page-photo__item-wrapper {
    position: relative;
    background-color: #000000;
    max-height: 267px;

    &--wide {
      max-height: 400px;
    }
  }

  .page-photo__item {
    width: 33.33%;

    &--wide {
      width: 100%;
    }
  }

  .page-photo__wrapper-footer {
    position: absolute;
    padding: 7px 21px 10px;
    width: 100%;
    color: #ffffff;
    left: 0;
    bottom: 0;

    &::after {
      position: absolute;
      content: "";
      min-height: 80px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #000000;
      z-index: 1;
      opacity: 0.3;
    }
  }

  .page-photo__title {
    position: relative;
    padding-right: 90px;
    z-index: 2;
  }

  .page-photo__author-photo {
    position: relative;
    padding-right: 90px;
    z-index: 2;
  }

  .page-photo__like-button {
    top: 19px;
    right: 20px;
    z-index: 2;
  }

  .page-photo__icon-like {
    opacity: 1;
    fill: #ffffff;
  }

  .page-photo__icon-numbers {
    color: #ffffff;
  }
}
