.page-booking {
  padding: 27px 0 8px;
}

.page-booking__title {
  display: block;
  padding: 0 20px 20px;
  text-align: center;
  font-size: 21px;
}

.page-booking__text {
  display: block;
  margin: 0;
  padding: 0 20px 38px;
  text-align: center;
  line-height: 23px;
}

.page-booking__button {
  padding: 0 20px;
}

.page-booking__map-wrapper {
  display: block;
  padding-top: 50px;
}

.page-booking__map {
  display: block;
  width: 100%;
}

@media @tablet-width {
  .page-booking {
    padding-top: 20px;
  }

  .page-booking__title {
    padding-bottom: 33px;
    font-size: 30px;
  }

  .page-booking__text {
    padding: 0 186px 43px;
  }

  .page-booking__button {
    padding-left: 155px;
    padding-right: 155px;
  }

  .page-booking__map-wrapper {
    padding-top: 0;
  }

  .page-booking__map {
    display: block;
    width: 100%;
    padding-top: 60px;
    height: 410px;
  }
}

@media @desktop-width {
  .page-booking {
    padding-top: 20px;
  }

  .page-booking__title {
    padding-bottom: 31px;
  }

  .page-booking__text {
    padding: 0 402px 48px;
    line-height: 24px;
  }

  .page-booking__button {
    padding-left: 370px;
    padding-right: 370px;
  }

  .page-booking__map {
    height: 415px;
    padding-top: 65px;
  }
}
