.page-photo {
  padding: 0;
  padding-top: 26px;
  margin: 0 auto;
}

.page-photo__list {
  display: flex;
  flex-direction: column;
  .list-none();
}

.page-photo__item {
  border-top: 1px solid #333333;

  &:last-child {
    border-bottom: 1px solid #333333;
  }
}

.page-photo__item-wrapper {
  position: relative;
  padding: 21px 20px 18px 20px;
}

.page-photo__image-link {
  display: block;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.page-photo__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.page-photo__author-photo {
  display: block;
  font-style: normal;
  text-transform: none;
}

.page-photo__like-numbers {
  display: block;
  margin: 0;
  padding-top: 6px;
  padding-left: 37px;
  font-weight: 700;
  line-height: 24px;

  &::before {
    position: absolute;
    content: url("../img/icon-like.svg");
    width: 23px;
    height: 21px;
    left: 20px;
    opacity: 0.3;
  }
}

@media @tablet-width {
  .page-photo {
    padding: 65px 60px 40px;
  }

  .page-photo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-photo__item {
    padding: 0;
    border: none;
    width: 50%;

    &--wide {
      width: 100%;
    }

    &:last-child {
      border: none;
    }
  }

  .page-photo__item-wrapper {
    padding: 0;
    background-color: #f2f2f2;
  }

  .page-photo__image {
    width: 100%;
    max-height: 267px;

    &--wide {
      width: 100%;
      max-height: 403px;
    }
  }

  .page-photo__wrapper-footer {
    display: block;
    position: relative;
    padding: 0 21px 16px;
  }

  .page-photo__title {
    padding-top: 5px;
  }

  .page-photo__like-numbers {
    position: absolute;
    bottom: 28px;
    right: 29px;

    &--wide {
      bottom: 28px;
      right: 20px;
    }

    &::before {
      left: 5px;
    }
  }
}

@media @desktop-width {
  .page-photo {
    padding: 66px 0 45px;
  }

  .page-photo__item {
    width: 33.3%;

    &--wide {
      width: 100%;
    }
  }

  .page-photo__image-link {
    max-height: 410px;
  }

  .page-photo__image--wide {
    padding: 0;
    margin: 0;
    max-height: 410px;
  }

  .page-photo__wrapper-footer {
    margin-top: -80px;
    background-color: transparent;
    color: #ffffff;
  }
}
