.page-form {
  display: block;
}

.form {
  margin: 0 auto;
  .list-none();
  // border-top: 1px solid #333333;
}

.form ul {
  .list-none();
}

.form legend {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

// .form__name-list,
// .form__contacts-list,
// .form__feeling-list,
// .form__sight-list,
// .form__text-list {
//   .list-none();
// }

.form-button {
  margin: 0 auto;
}
