.page-footer {
  text-transform: uppercase;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

.page-footer__contacts {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.page-footer__hashtag {
  display: block;
  margin: 0;
}

.page-footer__social {
  padding: 36px 0 24px 0;
}

.social__list {
  display: flex;
  .list-none();
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__icon {
  fill: #ffffff;
}

.social__link:active .social__icon {
  fill: #b8b8b8;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  display: block;
  margin-right: 9px;
}

.copyright__link {
  display: inline-block;
  font-size: 0;
  background-color: #ffffff;

  &:hover {
    background-color: #ffffff;
  }
}

.copiright__icon-htmlacademy {
  vertical-align: middle;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media @tablet-width {
  .page-footer__wrapper {
    flex-direction: row;
    padding-top: 20px;
    text-align: center;
  }

  .page-footer__contacts {
    flex-grow: 1;
  }


  .page-footer__social {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-grow: 1;
  }

  .social__list {
    margin-left: -10px;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    padding-top: 22px;
  }

  .page-footer__social {
    margin: 0 35px;
  }
}
