
.page-main__intro {
  position: relative;
  min-height: 389px;
  padding-top: 90px;
  z-index: 0;
  background-color: #444444;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  &--inner {
    min-height: 160px;
    padding-top: 51px;
    background-position-y:bottom;
  }
  &::after {
    position: absolute;
    content: url(../img/bg-intro-triangle-mobile.svg);
    bottom: -10px;
    left: 50%;
    margin-left: -160px;
    z-index: 1;
  }
}

.intro__text-image {
  display: block;
  margin: 0 auto;
}

.intro__text-sedona {
  display: block;
  margin: 0 auto;
}

.page-main__header {
  position: relative;
  padding-top: 42px;
  &--inner {
    padding-top: 38px;
    border-bottom: 1px solid #eeeeee;
  }
  &--index::after {
    position: absolute;
    content: url(../img/bg-triangle.svg);
    bottom: -52px;
    left: 50%;
    margin-left: -160px;
    background-color: @bg-blue;
    z-index: 1;
  }
}

.page-main__title{
  display: block;
  margin: 0 auto;
  padding:0 30px 26px 30px;
  min-width: 255px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  &--inner {
    padding:0 30px 22px 30;
  }
}
.page-main__subtitle {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  &--inner {
    padding: 0 22px;
    padding-bottom: 26px;
    line-height: 23px;
  }
}
