.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-title {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.form-input-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
}

.r {
  outline: 2px solid red;
}
